USE [TelcoSupplyChainDW]
GO
/****** Object:  Table [dbo].[DimCustomer]    Script Date: 9/11/2025 9:09:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimCustomer](
	[CustomerKey] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[Name] [varchar](100) NULL,
	[CustomerType] [varchar](50) NULL,
	[Phone] [varchar](20) NULL,
	[Email] [varchar](100) NULL,
	[NationalID] [varchar](50) NULL,
	[TIN] [varchar](50) NULL,
	[Location] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimDate]    Script Date: 9/11/2025 9:09:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimDate](
	[DateKey] [int] NOT NULL,
	[FullDate] [date] NULL,
	[Day] [int] NULL,
	[Month] [int] NULL,
	[MonthName] [varchar](20) NULL,
	[Quarter] [int] NULL,
	[Year] [int] NULL,
	[WeekdayName] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[DateKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimProduct]    Script Date: 9/11/2025 9:09:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimProduct](
	[ProductKey] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[ProductName] [varchar](100) NULL,
	[ProductCategory] [varchar](50) NULL,
	[SKU] [varchar](50) NULL,
	[Price] [decimal](12, 2) NULL,
	[ManufacturerKey] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FactProductMovement]    Script Date: 9/11/2025 9:09:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactProductMovement](
	[TransactionID] [int] IDENTITY(1,1) NOT NULL,
	[DateKey] [int] NOT NULL,
	[ProductKey] [int] NOT NULL,
	[FromCustomerKey] [int] NOT NULL,
	[ToCustomerKey] [int] NOT NULL,
	[Quantity] [int] NULL,
	[RequestToDispatch_TAT] [decimal](10, 2) NULL,
	[DispatchToDelivery_TAT] [decimal](10, 2) NULL,
	[Total_TAT] [decimal](10, 2) NULL,
	[Status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DimProduct]  WITH CHECK ADD FOREIGN KEY([ManufacturerKey])
REFERENCES [dbo].[DimCustomer] ([CustomerKey])
GO
ALTER TABLE [dbo].[FactProductMovement]  WITH CHECK ADD FOREIGN KEY([DateKey])
REFERENCES [dbo].[DimDate] ([DateKey])
GO
ALTER TABLE [dbo].[FactProductMovement]  WITH CHECK ADD FOREIGN KEY([FromCustomerKey])
REFERENCES [dbo].[DimCustomer] ([CustomerKey])
GO
ALTER TABLE [dbo].[FactProductMovement]  WITH CHECK ADD FOREIGN KEY([ProductKey])
REFERENCES [dbo].[DimProduct] ([ProductKey])
GO
ALTER TABLE [dbo].[FactProductMovement]  WITH CHECK ADD FOREIGN KEY([ToCustomerKey])
REFERENCES [dbo].[DimCustomer] ([CustomerKey])
GO
