USE [Bronze.Customers]
GO
/****** Object:  Schema [Bronze]    Script Date: 9/22/2025 10:00:38 AM ******/
CREATE SCHEMA [Bronze]
GO
/****** Object:  Schema [Silver]    Script Date: 9/22/2025 10:00:38 AM ******/
CREATE SCHEMA [Silver]
GO
/****** Object:  UserDefinedFunction [dbo].[Levenshtein]    Script Date: 9/22/2025 10:00:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[Levenshtein](@s NVARCHAR(4000), @t NVARCHAR(4000))
RETURNS INT
AS
BEGIN
    DECLARE @d TABLE (i INT, j INT, cost INT);

    DECLARE @m INT = LEN(@s), @n INT = LEN(@t);
    DECLARE @i INT, @j INT, @s_i NCHAR(1), @t_j NCHAR(1);

    IF @m = 0 RETURN @n;
    IF @n = 0 RETURN @m;

    DECLARE @prev NVARCHAR(4000) = '';
    DECLARE @curr NVARCHAR(4000) = '';

    -- dynamic programming array
    DECLARE @v0 VARBINARY(8000) = 0x;
    DECLARE @v1 VARBINARY(8000) = 0x;

    -- init
    SET @i = 0;
    WHILE @i <= @n
    BEGIN
        SET @v0 = @v0 + CAST(@i AS BINARY(4));
        SET @i += 1;
    END

    SET @i = 1;
    WHILE @i <= @m
    BEGIN
        SET @v1 = CAST(@i AS BINARY(4));

        SET @s_i = SUBSTRING(@s,@i,1);
        SET @j = 1;
        WHILE @j <= @n
        BEGIN
            SET @t_j = SUBSTRING(@t,@j,1);
            DECLARE @cost INT = CASE WHEN @s_i = @t_j THEN 0 ELSE 1 END;

            DECLARE @insert INT = CAST(SUBSTRING(@v1,@j*4,4) AS INT) + 1;
            DECLARE @delete INT = CAST(SUBSTRING(@v0,(@j+1)*4,4) AS INT) + 1;
            DECLARE @substitute INT = CAST(SUBSTRING(@v0,@j*4,4) AS INT) + @cost;

            SET @v1 = @v1 + CAST((SELECT MIN(v) FROM (VALUES(@insert),(@delete),(@substitute)) AS T(v)) AS BINARY(4));

            SET @j += 1;
        END
        SET @v0 = @v1;
        SET @i += 1;
    END

    RETURN CAST(SUBSTRING(@v0,(@n+1)*4,4) AS INT);
END
GO
/****** Object:  UserDefinedFunction [dbo].[NormalizeAndSortName]    Script Date: 9/22/2025 10:00:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[NormalizeAndSortName](@name VARCHAR(MAX))
RETURNS VARCHAR(MAX)
AS
BEGIN
    DECLARE @output VARCHAR(MAX) = '';
    DECLARE @xml XML;

    -- Tokenize the name and convert to XML
    SET @xml = N'<t>' + REPLACE(LOWER(LTRIM(RTRIM(ISNULL(@name,'')))), ' ', '</t><t>') + '</t>';

    -- Extract tokens, sort them alphabetically, and concatenate with "_"
    SELECT @output = @output + T.c.value('.', 'VARCHAR(MAX)') + '_'
    FROM @xml.nodes('/t') AS T(c)
    ORDER BY T.c.value('.', 'VARCHAR(MAX)');

    -- Remove the trailing separator
    IF LEN(@output) > 0
        SET @output = LEFT(@output, LEN(@output) - 1);

    RETURN @output;
END
GO
/****** Object:  UserDefinedFunction [dbo].[NormalizeFullSurrogate]    Script Date: 9/22/2025 10:00:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  FUNCTION [dbo].[NormalizeFullSurrogate]
(
    @name NVARCHAR(MAX),
    @email NVARCHAR(MAX),
    @phone NVARCHAR(MAX),
    @nationalid NVARCHAR(MAX),
    @tin NVARCHAR(MAX),
    @location NVARCHAR(MAX),
    @customertype NVARCHAR(MAX)
)
RETURNS NVARCHAR(MAX)
AS
BEGIN
    DECLARE 
        @nname NVARCHAR(MAX) = dbo.NormalizeAndSortName(ISNULL(@name,'')),
        @nemail NVARCHAR(MAX) = LOWER(LTRIM(RTRIM(ISNULL(@email,'')))),
        @nphone NVARCHAR(MAX) = dbo.RemoveNonDigits(ISNULL(@phone,'')),
        @nid NVARCHAR(MAX)    = LTRIM(RTRIM(ISNULL(@nationalid,''))),
        @ntin NVARCHAR(MAX)   = LTRIM(RTRIM(ISNULL(@tin,''))),
        @nloc NVARCHAR(MAX)   = LOWER(LTRIM(RTRIM(ISNULL(@location,'')))),
        @ntype NVARCHAR(MAX)  = LOWER(LTRIM(RTRIM(ISNULL(@customertype,''))));

    RETURN CONCAT_WS(
        '_',
        NULLIF(@nname,''),
        NULLIF(@nemail,''),
        NULLIF(@nphone,''),
        NULLIF(@nid,''),
        NULLIF(@ntin,''),
        NULLIF(@nloc,''),
        NULLIF(@ntype,'')
    );
END;
GO
/****** Object:  UserDefinedFunction [dbo].[RemoveNonDigits]    Script Date: 9/22/2025 10:00:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[RemoveNonDigits](@s NVARCHAR(MAX))
RETURNS NVARCHAR(MAX)
AS
BEGIN
    DECLARE @i INT = 1, 
            @len INT = LEN(ISNULL(@s,'')), 
            @out NVARCHAR(MAX) = '';

    WHILE @i <= @len
    BEGIN
        DECLARE @ch NCHAR(1) = SUBSTRING(@s, @i, 1);
        IF UNICODE(@ch) BETWEEN 48 AND 57
            SET @out += @ch;
        SET @i += 1;
    END
    RETURN @out;
END
GO
/****** Object:  Table [Bronze].[CandidatePairs]    Script Date: 9/22/2025 10:00:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Bronze].[CandidatePairs](
	[ClientNoA] [int] NULL,
	[ClientNoB] [int] NULL,
	[FullA] [nvarchar](500) NULL,
	[FullB] [nvarchar](500) NULL,
	[NormSurrogateA] [nvarchar](500) NULL,
	[NormSurrogateB] [nvarchar](500) NULL,
	[UnifiedA] [bigint] NULL,
	[UnifiedB] [bigint] NULL,
	[NationalIDA] [nvarchar](50) NULL,
	[NationalIDB] [nvarchar](50) NULL,
	[TINA] [nvarchar](50) NULL,
	[TINB] [nvarchar](50) NULL,
	[EmailA] [nvarchar](200) NULL,
	[EmailB] [nvarchar](200) NULL,
	[PhoneA] [nvarchar](max) NULL,
	[PhoneB] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Bronze].[CustomerClusters]    Script Date: 9/22/2025 10:00:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Bronze].[CustomerClusters](
	[ClusterRow] [bigint] NULL,
	[RootClientNo] [int] NULL,
	[PossibleMatchClientNo] [int] NULL,
	[MatchPercent] [decimal](5, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Bronze].[Customers]    Script Date: 9/22/2025 10:00:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Bronze].[Customers](
	[CustomerKey] [int] IDENTITY(1,1) NOT NULL,
	[ClientNo] [int] NULL,
	[Name] [nvarchar](200) NULL,
	[CustomerType] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](200) NULL,
	[NationalID] [nvarchar](50) NULL,
	[Tin] [nvarchar](50) NULL,
	[Location] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Bronze].[CustomerStage]    Script Date: 9/22/2025 10:00:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Bronze].[CustomerStage](
	[CustomerKey] [int] IDENTITY(1,1) NOT NULL,
	[ClientNo] [int] NULL,
	[Name] [nvarchar](200) NULL,
	[CustomerType] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](200) NULL,
	[NationalID] [nvarchar](50) NULL,
	[Tin] [nvarchar](50) NULL,
	[Location] [nvarchar](100) NULL,
	[FullSurrogate] [nvarchar](500) NULL,
	[NormalizedSurrogate] [nvarchar](500) NULL,
	[CustomerUnifiedID] [bigint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Bronze].[FuzzyResults]    Script Date: 9/22/2025 10:00:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Bronze].[FuzzyResults](
	[ClientNoA] [int] NULL,
	[ClientNoB] [int] NULL,
	[UnifiedA] [bigint] NULL,
	[UnifiedB] [bigint] NULL,
	[FullA] [nvarchar](500) NULL,
	[FullB] [nvarchar](500) NULL,
	[NormSurrogateA] [nvarchar](500) NULL,
	[NormSurrogateB] [nvarchar](500) NULL,
	[NationalIDA] [nvarchar](50) NULL,
	[NationalIDB] [nvarchar](50) NULL,
	[TINA] [nvarchar](50) NULL,
	[TINB] [nvarchar](50) NULL,
	[EmailA] [nvarchar](200) NULL,
	[EmailB] [nvarchar](200) NULL,
	[PhoneA] [nvarchar](max) NULL,
	[PhoneB] [nvarchar](max) NULL,
	[ExactNationalID] [int] NOT NULL,
	[ExactTIN] [int] NOT NULL,
	[ExactEmail] [int] NOT NULL,
	[ExactPhone] [int] NOT NULL,
	[MatchPercent] [decimal](5, 2) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CandidatePairs]    Script Date: 9/22/2025 10:00:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CandidatePairs](
	[ClientA] [int] NULL,
	[ClientB] [int] NULL,
	[FullA] [nvarchar](max) NULL,
	[FullB] [nvarchar](max) NULL,
	[NormSurrogateA] [nvarchar](max) NULL,
	[NormSurrogateB] [nvarchar](max) NULL,
	[UnifiedA] [int] NULL,
	[UnifiedB] [int] NULL,
	[NationalIDA] [nvarchar](50) NULL,
	[NationalIDB] [nvarchar](50) NULL,
	[TINA] [nvarchar](50) NULL,
	[TINB] [nvarchar](50) NULL,
	[EmailA] [nvarchar](200) NULL,
	[EmailB] [nvarchar](200) NULL,
	[PhoneA] [nvarchar](max) NULL,
	[PhoneB] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clusters]    Script Date: 9/22/2025 10:00:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clusters](
	[ClusterRow] [int] IDENTITY(1,1) NOT NULL,
	[ClientNo] [int] NULL,
	[CustomerUnifiedID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ClusterRow] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerMaster]    Script Date: 9/22/2025 10:00:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerMaster](
	[MasterCustomerID] [bigint] NULL,
	[CustomerUnifiedID] [int] NULL,
	[SourceClientNos] [varchar](8000) NULL,
	[NormalizedSurrogate] [nvarchar](max) NULL,
	[Name] [nvarchar](200) NULL,
	[CustomerType] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](200) NULL,
	[NationalID] [nvarchar](50) NULL,
	[TIN] [nvarchar](50) NULL,
	[Location] [nvarchar](100) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 9/22/2025 10:00:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerKey] [int] IDENTITY(1,1) NOT NULL,
	[ClientNo] [int] NULL,
	[Name] [nvarchar](200) NULL,
	[CustomerType] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](200) NULL,
	[NationalID] [nvarchar](50) NULL,
	[Tin] [nvarchar](50) NULL,
	[Location] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerStage]    Script Date: 9/22/2025 10:00:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerStage](
	[CustomerKey] [int] IDENTITY(1,1) NOT NULL,
	[ClientNo] [int] NULL,
	[Name] [nvarchar](200) NULL,
	[CustomerType] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](200) NULL,
	[NationalID] [nvarchar](50) NULL,
	[Tin] [nvarchar](50) NULL,
	[Location] [nvarchar](100) NULL,
	[FullSurrogate] [nvarchar](max) NULL,
	[NormalizedSurrogate] [nvarchar](max) NULL,
	[CustomerUnifiedID] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FuzzyResults]    Script Date: 9/22/2025 10:00:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FuzzyResults](
	[CustomerA] [int] NULL,
	[CustomerB] [int] NULL,
	[UnifiedA] [int] NULL,
	[UnifiedB] [int] NULL,
	[FullA] [nvarchar](max) NULL,
	[FullB] [nvarchar](max) NULL,
	[NormSurrogateA] [nvarchar](max) NULL,
	[NormSurrogateB] [nvarchar](max) NULL,
	[NationalIDA] [nvarchar](50) NULL,
	[NationalIDB] [nvarchar](50) NULL,
	[TINA] [nvarchar](50) NULL,
	[TINB] [nvarchar](50) NULL,
	[EmailA] [nvarchar](200) NULL,
	[EmailB] [nvarchar](200) NULL,
	[PhoneA] [nvarchar](max) NULL,
	[PhoneB] [nvarchar](max) NULL,
	[MatchPercent] [decimal](5, 2) NULL,
	[ExactNationalID] [int] NOT NULL,
	[ExactTIN] [int] NOT NULL,
	[ExactEmail] [int] NOT NULL,
	[ExactPhone] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FuzzyResultsIssues]    Script Date: 9/22/2025 10:00:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FuzzyResultsIssues](
	[CustomerA] [int] NULL,
	[CustomerB] [int] NULL,
	[NormSurrogateA] [nvarchar](max) NULL,
	[NormSurrogateB] [nvarchar](max) NULL,
	[EditDistance] [int] NULL,
	[MatchPercent] [decimal](5, 2) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Silver].[CustomerMaster]    Script Date: 9/22/2025 10:00:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Silver].[CustomerMaster](
	[MasterCustomerID] [bigint] NULL,
	[RootClientNo] [int] NULL,
	[SourceClientNos] [varchar](8000) NULL,
	[Name] [nvarchar](200) NULL,
	[CustomerType] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](200) NULL,
	[NationalID] [nvarchar](50) NULL,
	[TIN] [nvarchar](50) NULL,
	[Location] [nvarchar](100) NULL,
	[NormalizedSurrogate] [nvarchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[sp_BuildCandidatePairs]    Script Date: 9/22/2025 10:00:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_BuildCandidatePairs]
AS
BEGIN
    SET NOCOUNT ON;

    IF OBJECT_ID('Bronze.CandidatePairs') IS NOT NULL DROP TABLE Bronze.CandidatePairs;

    SELECT DISTINCT
        a.ClientNo AS ClientNoA,
        b.ClientNo AS ClientNoB,
        a.FullSurrogate AS FullA,
        b.FullSurrogate AS FullB,
        a.NormalizedSurrogate AS NormSurrogateA,
        b.NormalizedSurrogate AS NormSurrogateB,
        a.CustomerUnifiedID AS UnifiedA,
        b.CustomerUnifiedID AS UnifiedB,
        a.NationalID AS NationalIDA,
        b.NationalID AS NationalIDB,
        a.TIN AS TINA,
        b.TIN AS TINB,
        LOWER(ISNULL(a.Email,'')) AS EmailA,
        LOWER(ISNULL(b.Email,'')) AS EmailB,
        dbo.RemoveNonDigits(ISNULL(a.Phone,'')) AS PhoneA,
        dbo.RemoveNonDigits(ISNULL(b.Phone,'')) AS PhoneB
    INTO Bronze.CandidatePairs
    FROM Bronze.CustomerStage a
    JOIN Bronze.CustomerStage b
        ON a.ClientNo < b.ClientNo
       AND (
             (ISNULL(a.NationalID,'') <> '' AND a.NationalID = b.NationalID)
          OR (ISNULL(a.TIN,'') <> '' AND a.TIN = b.TIN)
          OR (LOWER(ISNULL(a.Email,'')) <> '' AND LOWER(ISNULL(a.Email,'')) = LOWER(ISNULL(b.Email,'')))
          OR (dbo.RemoveNonDigits(ISNULL(a.Phone,'')) <> '' AND dbo.RemoveNonDigits(ISNULL(a.Phone,'')) = dbo.RemoveNonDigits(ISNULL(b.Phone,'')))
          OR (LEFT(a.NormalizedSurrogate, 20) = LEFT(b.NormalizedSurrogate, 20))
       );
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BuildCustomerClusters]    Script Date: 9/22/2025 10:00:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_BuildCustomerClusters]
AS
BEGIN
    SET NOCOUNT ON;

    -- Drop old table if exists
    IF OBJECT_ID('Bronze.CustomerClusters','U') IS NOT NULL 
        DROP TABLE Bronze.CustomerClusters;

    ;WITH InitialLinks AS
    (
        SELECT fr.ClientNoA, fr.ClientNoB, fr.MatchPercent
        FROM Bronze.FuzzyResults fr
        --WHERE fr.MatchPercent >= 70
    ),
    RecursiveClusters AS
    (
        SELECT ClientNoA AS CustomerID, ClientNoA AS RootID
        FROM InitialLinks

        UNION ALL

        SELECT il.ClientNoB, rc.RootID
        FROM RecursiveClusters rc
        JOIN InitialLinks il ON rc.CustomerID = il.ClientNoA
    ),
    Clusteredd AS
    (
        SELECT CustomerID, MIN(RootID) AS RootClientNo
        FROM RecursiveClusters
        GROUP BY CustomerID
    ),
    Deduped AS
    (
        SELECT 
            c.RootClientNo,
            c.CustomerID AS PossibleMatchClientNo,
            MAX(il.MatchPercent) AS MatchPercent
        FROM Clusteredd c
        LEFT JOIN InitialLinks il 
               ON ( (c.CustomerID = il.ClientNoA AND c.RootClientNo = il.ClientNoB)
                 OR (c.CustomerID = il.ClientNoB AND c.RootClientNo = il.ClientNoA) )
        WHERE c.CustomerID <> c.RootClientNo   -- remove self matches
        GROUP BY c.RootClientNo, c.CustomerID
    )
    SELECT 
        ROW_NUMBER() OVER (ORDER BY d.RootClientNo, d.PossibleMatchClientNo) AS ClusterRow,
        d.RootClientNo,
        d.PossibleMatchClientNo,
        d.MatchPercent
    INTO Bronze.CustomerClusters
    FROM Deduped d 
		ORDER BY         
			d.RootClientNo ,
			d.MatchPercent DESC,
			d.PossibleMatchClientNo;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BuildCustomerMaster]    Script Date: 9/22/2025 10:00:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_BuildCustomerMaster]
AS
BEGIN
    SET NOCOUNT ON;

    IF OBJECT_ID('Silver.CustomerMaster') IS NOT NULL DROP TABLE Silver.CustomerMaster;

    ;WITH Grouped AS
    (
        SELECT 
            cc.RootClientNo,
            STRING_AGG(CAST(cc.PossibleMatchClientNo AS VARCHAR(20)), ',') AS SourceClientNos,
            MAX(cs.Name) AS Name,
            MAX(cs.CustomerType) AS CustomerType,
            MAX(cs.Phone) AS Phone,
            MAX(cs.Email) AS Email,
            MAX(cs.NationalID) AS NationalID,
            MAX(cs.TIN) AS TIN,
            MAX(cs.Location) AS Location,
			MAX(cs.NormalizedSurrogate) AS NormalizedSurrogate
        FROM Bronze.CustomerClusters cc
        JOIN Bronze.CustomerStage cs ON cc.RootClientNo = cs.ClientNo
        GROUP BY cc.RootClientNo
    )
    SELECT ROW_NUMBER() OVER (ORDER BY g.RootClientNo) AS MasterCustomerID,
           g.RootClientNo,
           g.SourceClientNos,
           g.Name,
           g.CustomerType,
           g.Phone,
           g.Email,
           g.NationalID,
           g.TIN,
           g.Location,
		   g.NormalizedSurrogate
    INTO Silver.CustomerMaster
    FROM Grouped g;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BuildFuzzyResults]    Script Date: 9/22/2025 10:00:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_BuildFuzzyResults]
AS
BEGIN
    SET NOCOUNT ON;

    IF OBJECT_ID('Bronze.FuzzyResults') IS NOT NULL DROP TABLE Bronze.FuzzyResults;

    SELECT 
        cp.ClientNoA,
        cp.ClientNoB,
        cp.UnifiedA,
        cp.UnifiedB,
        cp.FullA,
        cp.FullB,
        cp.NormSurrogateA,
        cp.NormSurrogateB,
        cp.NationalIDA,
        cp.NationalIDB,
        cp.TINA,
        cp.TINB,
        cp.EmailA,
        cp.EmailB,
        cp.PhoneA,
        cp.PhoneB,
		ExactNationalID = CASE WHEN cp.NationalIDA IS NOT NULL AND cp.NationalIDA = cp.NationalIDB THEN 1 ELSE 0 END,
        ExactTIN        = CASE WHEN cp.TINA IS NOT NULL AND cp.TINA = cp.TINB THEN 1 ELSE 0 END,
        ExactEmail      = CASE WHEN cp.EmailA <> '' AND cp.EmailA = cp.EmailB THEN 1 ELSE 0 END,
        ExactPhone      = CASE WHEN cp.PhoneA <> '' AND cp.PhoneA = cp.PhoneB THEN 1 ELSE 0 END,
        MatchPercent = CAST(
            CASE 
                WHEN (1.0 - (CAST(dbo.Levenshtein(cp.NormSurrogateA, cp.NormSurrogateB) AS FLOAT) / 
                             NULLIF(CASE WHEN LEN(cp.NormSurrogateA) > LEN(cp.NormSurrogateB) 
                                         THEN LEN(cp.NormSurrogateA) ELSE LEN(cp.NormSurrogateB) END, 0)
                            )) * 100 < 0
                THEN 0
                ELSE (1.0 - (CAST(dbo.Levenshtein(cp.NormSurrogateA, cp.NormSurrogateB) AS FLOAT) / 
                             NULLIF(CASE WHEN LEN(cp.NormSurrogateA) > LEN(cp.NormSurrogateB) 
                                         THEN LEN(cp.NormSurrogateA) ELSE LEN(cp.NormSurrogateB) END, 0)
                            )) * 100
            END
        AS DECIMAL(5,2))
    INTO Bronze.FuzzyResults
    FROM Bronze.CandidatePairs cp
    WHERE cp.ClientNoA < cp.ClientNoB
	ORDER BY ClientNoA, MatchPercent DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BuildSurrogates]    Script Date: 9/22/2025 10:00:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_BuildSurrogates]
AS
BEGIN
    SET NOCOUNT ON;
    -- Ensure required columns exist
    IF COL_LENGTH('Bronze.CustomerStage','FullSurrogate') IS NULL
        ALTER TABLE Bronze.CustomerStage ADD FullSurrogate NVARCHAR(500);

    IF COL_LENGTH('Bronze.CustomerStage','NormalizedSurrogate') IS NULL
        ALTER TABLE Bronze.CustomerStage ADD NormalizedSurrogate NVARCHAR(500);

    IF COL_LENGTH('Bronze.CustomerStage','CustomerUnifiedID') IS NULL
        ALTER TABLE Bronze.CustomerStage ADD CustomerUnifiedID BIGINT;
    -------------------------------------------------------------------
    -- Build full surrogate
    -------------------------------------------------------------------
    UPDATE Bronze.CustomerStage
    SET FullSurrogate = CONCAT_WS('_',
        ISNULL(Name,''), ISNULL(CustomerType,''), dbo.RemoveNonDigits(ISNULL(Phone,'')),
        LOWER(LTRIM(RTRIM(ISNULL(Email,'')))), ISNULL(NationalID,''), ISNULL(TIN,''), LOWER(ISNULL(Location,'')));
    -------------------------------------------------------------------
    -- Build normalized surrogate (requires dbo.NormalizeFullSurrogate)
    -------------------------------------------------------------------
    UPDATE Bronze.CustomerStage
    SET NormalizedSurrogate = dbo.NormalizeFullSurrogate(Name, Email, Phone, NationalID, TIN, Location, CustomerType);
    -------------------------------------------------------------------
    -- Assign a deterministic surrogate key using HASH
    -- (stable across reloads, unlike ROW_NUMBER)
    -------------------------------------------------------------------
    UPDATE Bronze.CustomerStage
    SET CustomerUnifiedID = ABS(CHECKSUM(NormalizedSurrogate));
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertCustomerIncremental]    Script Date: 9/22/2025 10:00:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_InsertCustomerIncremental]
(
    @ClientNo INT,
    @CustomerKey INT,
    @Name NVARCHAR(255),
    @CustomerType NVARCHAR(100),
    @Phone NVARCHAR(50),
    @Email NVARCHAR(255),
    @NationalID NVARCHAR(50),
    @TIN NVARCHAR(50),
    @Location NVARCHAR(100)
)
AS
BEGIN
    -- Temporarily allow explicit inserts into the identity column
    SET IDENTITY_INSERT Bronze.CustomerStage ON;

    INSERT INTO Bronze.CustomerStage (ClientNo, CustomerKey, Name, CustomerType, Phone, Email, NationalID, TIN, Location)
    VALUES (@ClientNo, @CustomerKey, @Name, @CustomerType, @Phone, @Email, @NationalID, @TIN, @Location);

    -- Turn IDENTITY_INSERT back off immediately
    SET IDENTITY_INSERT Bronze.CustomerStage OFF;

    -- Compute surrogates for the new record
    UPDATE Bronze.CustomerStage
    SET FullSurrogate = CONCAT_WS('_',
        ISNULL(Name,''), ISNULL(CustomerType,''), dbo.RemoveNonDigits(ISNULL(Phone,'')),
        LOWER(LTRIM(RTRIM(ISNULL(Email,'')))), ISNULL(NationalID,''), ISNULL(TIN,''), LOWER(ISNULL(Location,''))),
        NormalizedSurrogate = dbo.NormalizeFullSurrogate(Name, Email, Phone, NationalID, TIN, Location, CustomerType)
    WHERE ClientNo = @ClientNo;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_LoadCustomerStage]    Script Date: 9/22/2025 10:00:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LoadCustomerStage]
AS
BEGIN
    SET NOCOUNT ON;
    IF OBJECT_ID('Bronze.CustomerStage') IS NOT NULL DROP TABLE Bronze.CustomerStage;
	SELECT * 
	INTO Bronze.CustomerStage
	FROM Bronze.Customers 
	ORDER BY ClientNo,Name
END
GO
/****** Object:  StoredProcedure [dbo].[sp_MergeIntoClusters]    Script Date: 9/22/2025 10:00:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_MergeIntoClusters]
(
    @ClientNo INT
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ClusterID INT;
    DECLARE @BestMatchPercent DECIMAL(5,2);

    ------------------------------------------------
    -- Find the best cluster match based on FuzzyResults
    ------------------------------------------------
    SELECT TOP 1 
        @ClusterID = cc.RootClientNo,
        @BestMatchPercent = fr.MatchPercent
    FROM Bronze.FuzzyResults fr
    JOIN Bronze.CustomerClusters cc 
        ON (fr.ClientNoA = cc.RootClientNo OR fr.ClientNoB = cc.RootClientNo)
    WHERE (fr.ClientNoA = @ClientNo OR fr.ClientNoB = @ClientNo)
      AND fr.MatchPercent >= 70
    ORDER BY fr.MatchPercent DESC;

    ------------------------------------------------
    -- If no match → create a new cluster ID
    ------------------------------------------------
    IF @ClusterID IS NULL
    BEGIN
        -- Option 1: use ClientNo as cluster root
        SET @ClusterID = @ClientNo;
        SET @BestMatchPercent = 100; -- self = perfect match
    END

    ------------------------------------------------
    -- Insert new record into CustomerClusters
    ------------------------------------------------
    INSERT INTO Bronze.CustomerClusters (ClusterRow, RootClientNo, PossibleMatchClientNo, MatchPercent)
    SELECT ISNULL(MAX(ClusterRow), 0) + 1, @ClusterID, @ClientNo, @BestMatchPercent
    FROM Bronze.CustomerClusters;

    ------------------------------------------------
    -- Update CustomerMaster aggregation
    ------------------------------------------------
    MERGE Bronze.CustomerMaster AS tgt
    USING (
        SELECT @ClusterID AS CustomerUnifiedID
    ) src
    ON tgt.CustomerUnifiedID = src.CustomerUnifiedID
    WHEN MATCHED THEN
        UPDATE SET SourceClientNos = 
            CASE 
                WHEN CHARINDEX(CAST(@ClientNo AS VARCHAR(20)), tgt.SourceClientNos) > 0 
                THEN tgt.SourceClientNos  -- already exists, no duplicate
                ELSE tgt.SourceClientNos + ',' + CAST(@ClientNo AS VARCHAR(20)) 
            END
    WHEN NOT MATCHED THEN
        INSERT (MasterCustomerID, CustomerUnifiedID, SourceClientNos)
        VALUES (
            (SELECT ISNULL(MAX(MasterCustomerID),0)+1 FROM Bronze.CustomerMaster),
            @ClusterID,
            CAST(@ClientNo AS VARCHAR(20))
        );
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ProcessNewCustomer]    Script Date: 9/22/2025 10:00:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_ProcessNewCustomer]
(
    @ClientNo INT
)
AS
BEGIN
    ------------------------------------------------
    -- Candidate Pairs (New record vs existing)
    ------------------------------------------------
    INSERT INTO Bronze.CandidatePairs
    SELECT DISTINCT
        a.ClientNo AS ClientNoA,
        b.ClientNo AS ClientNoB,
        a.FullSurrogate AS FullA,
        b.FullSurrogate AS FullB,
        a.NormalizedSurrogate AS NormSurrogateA,
        b.NormalizedSurrogate AS NormSurrogateB,
        a.CustomerUnifiedID AS UnifiedA,
        b.CustomerUnifiedID AS UnifiedB,
        a.NationalID AS NationalIDA,
        b.NationalID AS NationalIDB,
        a.TIN AS TINA,
        b.TIN AS TINB,
        LOWER(ISNULL(a.Email,'')) AS EmailA,
        LOWER(ISNULL(b.Email,'')) AS EmailB,
        dbo.RemoveNonDigits(ISNULL(a.Phone,'')) AS PhoneA,
        dbo.RemoveNonDigits(ISNULL(b.Phone,'')) AS PhoneB
    FROM Bronze.CustomerStage a
    JOIN Bronze.CustomerStage b ON a.ClientNo = @ClientNo AND b.ClientNo <> @ClientNo
    WHERE
         (ISNULL(a.NationalID,'') <> '' AND a.NationalID = b.NationalID)
      OR (ISNULL(a.TIN,'') <> '' AND a.TIN = b.TIN)
      OR (LOWER(ISNULL(a.Email,'')) <> '' AND LOWER(ISNULL(a.Email,'')) = LOWER(ISNULL(b.Email,'')))
      OR (dbo.RemoveNonDigits(ISNULL(a.Phone,'')) <> '' AND dbo.RemoveNonDigits(ISNULL(a.Phone,'')) = dbo.RemoveNonDigits(ISNULL(b.Phone,'')))
      OR (LEFT(a.NormalizedSurrogate, 20) = LEFT(b.NormalizedSurrogate, 20));

    ------------------------------------------------
    -- Fuzzy Results (only for new record comparisons)
    ------------------------------------------------
    INSERT INTO Bronze.FuzzyResults
    SELECT 
        cp.ClientNoA, cp.ClientNoB, cp.UnifiedA, cp.UnifiedB,
        cp.FullA, cp.FullB, cp.NormSurrogateA, cp.NormSurrogateB,
        cp.NationalIDA, cp.NationalIDB, cp.TINA, cp.TINB,
        cp.EmailA, cp.EmailB, cp.PhoneA, cp.PhoneB,
        MatchPercent = CAST(
            CASE 
                WHEN (1.0 - (CAST(dbo.Levenshtein(cp.NormSurrogateA, cp.NormSurrogateB) AS FLOAT) / 
                             NULLIF(CASE WHEN LEN(cp.NormSurrogateA) > LEN(cp.NormSurrogateB) 
                                         THEN LEN(cp.NormSurrogateA) ELSE LEN(cp.NormSurrogateB) END, 0)
                            )) * 100 < 0
                THEN 0
                ELSE (1.0 - (CAST(dbo.Levenshtein(cp.NormSurrogateA, cp.NormSurrogateB) AS FLOAT) / 
                             NULLIF(CASE WHEN LEN(cp.NormSurrogateA) > LEN(cp.NormSurrogateB) 
                                         THEN LEN(cp.NormSurrogateA) ELSE LEN(cp.NormSurrogateB) END, 0)
                            )) * 100
            END AS DECIMAL(5,2)),
        ExactNationalID = CASE WHEN cp.NationalIDA IS NOT NULL AND cp.NationalIDA = cp.NationalIDB THEN 1 ELSE 0 END,
        ExactTIN        = CASE WHEN cp.TINA IS NOT NULL AND cp.TINA = cp.TINB THEN 1 ELSE 0 END,
        ExactEmail      = CASE WHEN cp.EmailA <> '' AND cp.EmailA = cp.EmailB THEN 1 ELSE 0 END,
        ExactPhone      = CASE WHEN cp.PhoneA <> '' AND cp.PhoneA = cp.PhoneB THEN 1 ELSE 0 END
    FROM Bronze.CandidatePairs cp
    WHERE (cp.ClientNoA = @ClientNo OR cp.ClientNoB = @ClientNo);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RunCustomerDedupPipeline]    Script Date: 9/22/2025 10:00:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RunCustomerDedupPipeline]
AS
BEGIN
    EXEC dbo.sp_LoadCustomerStage;
    EXEC dbo.sp_BuildSurrogates;
    EXEC dbo.sp_BuildCandidatePairs;
    EXEC dbo.sp_BuildFuzzyResults;
    EXEC dbo.sp_BuildCustomerClusters;
    EXEC dbo.sp_BuildCustomerMaster;
END
GO
